body {
    font-size: 28px;
    margin: 0;
    background-color: #EEEDDE;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #141E27;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: #EEEDDE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #203239;
}

.active {
    background-color: #54749f;
}

#credit{
    float: right;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

tbody tr:hover{
    background-color: rgba(32, 50, 57, 0.4);
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: #141E27;
    color: #EEEDDE;
}

#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #EEEDDE;
    margin-bottom: 12px;
    margin-top: 12px;
}

.auction_content{
    margin-left: 10%;
    margin-right: 10%;
}

.auction_content h3{
    text-align: center;
}